[user]
	email = notrupertthorne@gmail.com
	nthorne
[color]
	ui = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[diff]
	tool = vimdiff
[mergetool]
	prompt = false
[alias]
	graph = log --graph --pretty=oneline --abbrev-commit
	ds = diff --staged
	st = status -sb
	ls = log --pretty=format:'%C(yellow)%h %C(green)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
	pg = log --graph --pretty=format':%C(yellow)%h%Cred%d%Creset %s %C(green) %an%C(reset), %ar'
